body {
  margin: 0;
  padding: 0;
  font-family: inter;
  height: 100vh;
  overflow-x: hidden;
}
.nav {
  display: flex;
  justify-content: space-around;
  background-color: #6eadaa;
  align-items: center;
  padding: 0.7rem;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
.nav .logo img {
  width: 70px;
}
.nav .links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.nav .links a {
  color: white;
  text-decoration: none;
}
.nav .btns {
  border: 2px solid #d4bfec;
  border-radius: 20px;
  padding: 5px 16px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}
.nav .btns img {
  width: 20px;
}
.nav .bars {
  display: none;
}
.header {
  display: flex;
  align-items: center;
  background-color: #074643;
  padding: 5rem;
  /* justify-content: center; */
  gap: 5rem;
  clip-path: polygon(
    0 0,
    80% 0%,
    100% 0,
    100% 58%,
    34% 78%,
    24% 79%,
    0% 80%,
    0% 20%
  );
  padding: 20rem 4rem;
}

.header .texts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: white;
}
.header .texts .text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.header .texts .text #head1 {
  font-family: train one;
  font-size: 3rem;
}
.header .texts .text #head2 {
  font-family: inter;
  font-size: 3rem;
  font-weight: 700;
}
.header .texts .text #head3 {
  font-family: inter;
  font-size: 1rem;
  font-weight: 200;
}
.header .texts .btns {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}
.header .texts .btns .btn {
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}
.header .texts .btns .icontext {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.header .texts .btns .icontext img {
  width: 10px;
}
.images .text {
  display: flex;
  flex-direction: column;
  width: 13%;
  background-color: white;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  font-weight: 900;
  gap: 0.8rem;
  position: relative;
  right: 2rem;
  bottom: 17rem;
}
.images .text #h1 {
  font-size: 2.5rem;
}
.images .text #lorem {
  font-weight: 800;
}
.images img {
  width: 600px;
  padding-top: 8rem;
}
.images {
  position: relative;
  bottom: 960px;
  left: 600px;
  width: 90vh;
}
.about {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 4rem;
  position: relative;
  bottom: 64rem;
  gap: 5rem;
}
.about .aboutme {
  display: flex;
  gap: 6rem;
  flex-direction: column;
  width: 100vw;
}
.about .aboutme .first {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.about .aboutme .first #me {
  font-family: inter;
  font-weight: 800;
  font-size: 2.2rem;
}
.about .aboutme .first #create {
  font-family: inter;
  font-weight: 300;
  font-size: 25px;
}
.about .aboutme .icontext {
  display: flex;
  gap: 2rem;
}
.about .aboutme .icontext .logo {
  border: 1px solid black;
  background: #101c1b;
  border-radius: 22px;
  padding: 10px 20px;
  color: white;
  font-weight: 500;
  font-family: inter;
  font-size: 15px;
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
.about .aboutme .icontext .logo #vec {
  width: 18px;
  height: 18px;
}
.about .aboutme .icontext .social img {
  width: 38px;
}
.about .aboutme .icontext .social {
  display: flex;
  gap: 0.8rem;
}
.about .aboutme .input {
  display: flex;
  flex-direction: column;
  font-family: inter;
  font-weight: 700;
  gap: 2rem;
}
.about .aboutme .input #age {
  border: 1px solid black;
  border-radius: 30px;
  padding: 1rem 2rem;
  background: #f7f8fd;
}
.about .aboutme .input #res {
  display: flex;
  position: relative;
  left: 30px;
}
.about .italic {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100vw;
}
.about .italic .first {
  font-family: inter;
}
.about .italic .ita {
  display: flex;
  flex-direction: column;
  font-family: whisper;
  font-size: 81px;
  position: relative;
  left: 60px;
  bottom: 25px;
}
.about .italic .ita #marko {
  bottom: 20px;
}
.border {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.border .fifty {
  display: flex;
  gap: 1.5rem;
  font-family: inter;
}
.border .thirty {
  display: flex;
  gap: 1.5rem;
}
.border .fifty .fiftys {
  border: 7px solid #074643;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 1.5rem 2.5rem;
}
.border .fifty .fiftys #f {
  font-weight: 900;
  font-size: 55px;
}
.border .fifty .fiftys #t {
  font-weight: 600;
  font-size: 20px;
}
.border .fifty .seven {
  border: 7px solid #074643;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 1.5rem 2.5rem;
}
.border .fifty .seven #f {
  font-weight: 900;
  font-size: 55px;
}
.border .fifty .seven #t {
  font-weight: 600;
  font-size: 20px;
}
.border .thirty .eight {
  border: 7px solid #074643;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 1.5rem 2.5rem;
}
.border .thirty .six {
  border: 7px solid #074643;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 1.5rem 2.5rem;
}
.border .thirty .eight #f {
  font-weight: 900;
  font-size: 55px;
}
.border .thirty .eight #t {
  font-weight: 600;
  font-size: 20px;
}
.border .thirty .six #f {
  font-weight: 900;
  font-size: 55px;
}
.border .thirty .six #t {
  font-weight: 600;
  font-size: 20px;
}

.about .italic .border {
  border: 4px solid #8e7ab8;
  position: absolute;
  top: 25rem;
  right: 0;
  border-radius: 27px;
  padding: 2.7rem;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 7px;
}
.about .italic .border .fifty {
  position: relative;
  right: 5rem;
}
.about .italic .border .thirty {
  position: relative;
  right: 5rem;
}
@media only screen and (max-width: 480px) {
  body {
    height: 100%;
  }
  .nav {
    flex-direction: column;
    position: static;
    gap: 3rem;
  }
  .nav .btns {
    display: none;
  }
  .nav .links {
    flex-direction: column;
    display: none;
  }
  .nav .logo img {
    position: absolute;
    left: 0;
  }
  .nav .bars {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
  }
  .nav .bars .icon {
    font-size: 1.5rem;
    color: white;
  }
  .nav .bars .close {
    display: none;
  }
  .header {
    max-width: 100vw;
    clip-path: none;
    justify-content: center;
    padding: 5rem 5rem 25rem;
  }
  .images {
    bottom: 450px;
    left: 22vw;
    width: 100vw;
  }
  .images img {
    width: 260px;
  }
  .header .texts .text {
    width: 100vw;
    position: relative;
    left: 25%;
  }
  .header .texts .text #head1 {
    font-size: 2rem;
  }
  .header .texts .text #head2 {
    font-size: 1.5rem;
  }
  .images .text {
    bottom: 160px;
    right: 50px;
    width: 70px;
  }
  .about {
    bottom: 2rem;
    flex-direction: column;
    height: 100%;
  }
  .about .aboutme {
    flex-direction: column;
  }
  .about .aboutme .first {
    position: relative;
    justify-content: center;
    width: 280px;
    left: 20px;
  }
  .about .aboutme .first #create {
    white-space: nowrap;
    width: 100vw;
    position: relative;
    right: 65px;
    font-size: 23px;
  }
  .about .aboutme .first #me {
    position: relative;
    left: 20px;
  }
  .about .aboutme .icontext {
    width: 100px;
    position: relative;
    right: 28px;
  }
  .about .aboutme .icontext {
    width: 20px;
  }
  .about .aboutme .icontext .logo {
    font-size: 10px;
    white-space: nowrap;
  }
  .about .aboutme .icontext .logo #vec {
    width: 10px;
  }
  .about .aboutme .input {
    padding: 1.5rem 5rem 10rem;
    position: relative;
    right: 125px;
    width: 90vw;
  }

  .about .italic .first {
    width: 270px;
    position: relative;
    bottom: 7rem;
  }
  .about .italic .ita {
    left: 20px;
    bottom: 100px;
  }
  .about .italic .border {
    position: relative;
    top: 10px;
    margin: 0;
    width: 100vw;
  }

  .about .italic {
    flex-direction: column;
  }

  .border .fifty .fiftys #t {
    width: 50px;
    font-size: 15px;
  }
  .border .fifty .fiftys {
    width: 60px;
  }
  .border .fifty .fiftys #f {
    width: 50px;
    font-size: 25px;
  }
  .border .fifty .seven {
    width: 60px;
  }
  .border .fifty .seven #f {
    width: 50px;
    font-size: 25px;
  }
  .border .fifty .seven #t {
    width: 50px;
    font-size: 15px;
  }
  .border .thirty .eight {
    width: 60px;
  }
  .border .thirty .eight #t {
    width: 50px;
    font-size: 15px;
  }
  .border .thirty .eight #f {
    width: 50px;
    font-size: 25px;
  }
  .border .thirty .six {
    width: 60px;
  }
  .border .thirty .six #f {
    width: 50px;
    font-size: 25px;
  }
  .border .thirty .six #t {
    width: 50px;
    font-size: 15px;
  }
  .header .texts .btns {
    gap: 2.5rem;
    margin-right: 14px;
  }
  .header .texts .btns .btn {
    display: inline-flex;
    font-size: 12px;
    position: relative;
    left: 19px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 850px) {
  .nav .btns {
    position: relative;
    right: 20px;
  }
  .nav .links {
    position: relative;
    right: 18px;
  }
  .header {
    justify-content: center;
    width: 100vw;
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 33%,
      100% 35%,
      78% 50%,
      43% 65%,
      0 72%,
      0% 43%,
      0 0
    );
  }
  .header .texts {
    width: 350px;
    position: relative;
    right: 250px;
    bottom: 100px;
    white-space: nowrap;
  }

  .images .text {
    position: relative;
    right: 220px;
    width: 80px;
    font-size: 15px;
    bottom: 120px;
    padding: 0.25rem 1rem;
  }
  .images .text #h1 {
    font-size: 2rem;
  }
  .images .text #lorem {
    font-weight: 600;
  }
  .images img {
    width: 350px;
    position: relative;
    right: 190px;
    top: 40px;
  }
  .about {
    margin: 6rem 0.5rem;
    height: 1rem;
  }
  .about .aboutme {
    position: relative;
    right: 45px;
    white-space: nowrap;
  }

  .about .italic .first {
    width: 40vw;
    position: relative;
    right: 100px;
    top: 20px;
  }
  .about .italic .ita {
    left: -60px;
    font-size: 55px;
  }
  .about .italic .ita #marko {
    position: relative;
    left: 30px;
  }
  .border {
    width: 30vw;
  }
  .border .fifty {
    left: -60px;
    position: relative;
  }
  .border .thirty {
    position: relative;
    left: -60px;
  }
  .border .fifty .fiftys #t {
    width: 60px;
    font-size: 15px;
  }
  .border .fifty .fiftys {
    width: 60px;
  }
  .border .fifty .fiftys #f {
    width: 50px;
    font-size: 25px;
  }
  .border .fifty .seven {
    width: 60px;
  }
  .border .fifty .seven #f {
    width: 50px;
    font-size: 25px;
  }
  .border .fifty .seven #t {
    width: 60px;
    font-size: 15px;
  }
  .border .thirty .eight {
    width: 60px;
  }
  .border .thirty .eight #t {
    width: 60px;
    font-size: 15px;
  }
  .border .thirty .eight #f {
    width: 50px;
    font-size: 25px;
  }
  .border .thirty .six {
    width: 60px;
  }
  .border .thirty .six #f {
    width: 60px;
    font-size: 25px;
  }
  .border .thirty .six #t {
    width: 50px;
    font-size: 15px;
  }
}
