* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: inter;
  --header-font: train one;
  --about-font: whisper;
  --nav-button-color: #d4bfec;
}

body {
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #587e7c;
  font-family: var(--primary-font);
  padding: 0.5rem;
}
.nav .bars {
  display: none;
}
.nav img {
  width: 80px;
}
.nav .links {
  display: flex;
  gap: 2rem;
  font-size: 17px;
}
.nav .links a {
  color: white;
  text-decoration: none;
}
.nav .download {
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
  gap: 0.4rem;
  border: 2px solid var(--nav-button-color);
  border-radius: 18px;
  padding: 0.5rem 1rem;
}
.nav .download img {
  width: 20px;
}

.header {
  background-color: #074643;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12rem 0rem 5rem 3rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
  gap: 4rem;
}
.header .text {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.header .text .hello {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  gap: 1rem;
}
.header .text .hello #hello {
  font-family: var(--header-font);
  font-size: 50px;
  font-weight: 300;
}
.header .text .hello #lor {
  font-family: var(--primary-font);
  font-size: 52px;
  font-weight: 700;
}
.header .text .hello #lorem {
  font-family: var(--primary-font);
  font-size: 25px;
  font-weight: 200;
}
.header .text .border {
  display: flex;
  gap: 3rem;
  align-items: center;
  font-family: var(--primary-font);
}
.header .text .border button {
  background-color: black;
  border-radius: 19px;
  border: none;
  padding: 0.7rem 1rem;
  color: white;
  font-size: 13px;
  font-weight: 600;
}
.header .text .border #list {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.header .text .border #list ul li::marker {
  color: #00cf75;
  font-size: 25px;
}
.header .image {
  display: flex;
  align-items: center;
  position: relative;
  left: 1rem;
  bottom: 8rem;
}
.header .image img {
  width: 500px;
}
.header .image .border {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
  gap: 1rem;
  background-color: white;
  padding: 0.1rem 1.5rem;
  border-radius: 30px;
  position: relative;
  left: 5rem;
  top: 5rem;
}
.header .image .border #fig {
  font-size: 40px;
  font-weight: 900;
}
.header .image .border #lorem {
  font-weight: 900;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.about .create {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-family: var(--primary-font);
}
.about .create .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.about .create .text #me {
  font-size: 45px;
  font-weight: 900;
}
.about .create .text #like {
  font-weight: 300;
  font-size: 25px;
}
.about .create .icontext {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.about .create .icontext .img {
  display: flex;
  gap: 0.5rem;
}
.about .create .icontext img {
  width: 40px;
}
.about .create .icontext #btn {
  font-size: 16px;
  background-color: #101c1b;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
}
.about .create .icontext #btn img {
  width: 18px;
}
.about .create .input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 800;
  margin-right: 2rem;
  align-items: start;
  align-items: flex-start;
}
.about .create .input #in {
  background-color: #f7f8fd;
  padding: 1rem 6rem 1rem 1rem;
  border-radius: 30px;
  width: 100%;
}
.about .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about .text #ipsum {
  font-size: 18px;
  text-align: start;
  font-family: var(--primary-font);
  font-weight: 300;
}
.about .text #Karem {
  display: flex;
  flex-direction: column;
  font-family: var(--about-font);
  font-size: 60px;
}
.about .text #Karem #marko {
  position: relative;
  left: 2rem;
}
.about .border {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 4px solid #8e7ab8;
  border-radius: 20px;
  padding: 2rem 2rem 0.5rem 2rem;
  position: relative;
  font-family: var(--primary-font);
}
.about .border .first {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  right: 3.5rem;
}
.about .border .first #fifty {
  border: 5px solid #326967;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 20px;
  padding: 1.3rem 1.5rem 1.3rem 2.5rem;
}
.about .border .first #fifty #pct {
  font-size: 30px;
  font-weight: 800;
}
.about .border .first #fifty #sp {
  font-size: 13px;
  font-weight: 700;
}
.about .border .first #seven {
  border: 5px solid #326967;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 20px;
  padding: 1.3rem 1.5rem 1.3rem 2.5rem;
}
.about .border .first #seven #pct {
  font-size: 30px;
  font-weight: 800;
}
.about .border .first #seven #sp {
  font-size: 13px;
  font-weight: 700;
}
.about .border .second {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  right: 3.5rem;
}
.about .border .second #thirty {
  border: 5px solid #326967;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 20px;
  padding: 1.3rem 1.5rem 1.3rem 2.5rem;
}
.about .border .second #thirty #pct {
  font-size: 30px;
  font-weight: 800;
}
.about .border .second #thirty #sp {
  font-size: 13px;
  font-weight: 700;
}
.about .border .second #six {
  border: 5px solid #326967;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 20px;
  padding: 1.3rem 1.5rem 1.3rem 2.5rem;
}
.about .border .second #six #pct {
  font-size: 30px;
  font-weight: 800;
}
.about .border .second #six #sp {
  font-size: 13px;
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  .nav {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-bottom: 3rem;
  }
  .nav .links {
    flex-direction: column;
  }
  .nav img {
    position: relative;
    right: 9rem;
    top: 0.5rem;
  }
  .nav .bars {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
  .nav .bars .open {
    font-size: 1.8rem;
    color: white;
  }
  .nav .bars .close {
    display: none;
    font-size: 1.8rem;
  }
  .nav .download img {
    position: static;
  }
  .header {
    -webkit-clip-path: none;
            clip-path: none;
    padding: 5rem 2rem 2rem 2rem;
    flex-direction: column;
    align-items: center;
  }
  .header .text .hello {
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .header .text .hello #hello {
    font-size: 40px;
  }
  .header .text .hello #lor {
    font-size: 30px;
  }
  .header .text .hello #lorem {
    font-size: 20px;
  }
  .header .border {
    gap: 1rem;
    align-items: center;
  }
  .header .border #bt {
    padding: 0.5rem 0.7rem;
    white-space: nowrap;
    font-size: 11px;
  }
  .header .border #list {
    white-space: nowrap;
  }
  .header .border #list #ul {
    font-size: 17px;
  }
  .header .border #list #ul li::marker {
    font-size: 20px;
  }
  .header .image {
    left: -2.6rem;
    bottom: 0;
    justify-content: center;
  }
  .header .image img {
    width: 300px;
  }
  .header .image .border {
    border-radius: 20px;
    gap: 0.2rem;
  }
  .header .image .border #fig {
    font-size: 30px;
  }
  .header .image .border #lorem {
    font-size: 15px;
  }
  .about {
    flex-direction: column;
    gap: 6rem;
  }
  .about .create .text {
    align-items: center;
  }
  .about .create .text #me {
    font-size: 40px;
  }
  .about .create .text #like {
    font-size: 20px;
  }
  .about .create .icontext {
    gap: 1rem;
    justify-content: center;
  }
  .about .create .icontext .img img {
    width: 35px;
  }
  .about .create .icontext #btn {
    font-size: 14px;
  }
  .about .create .icontext #btn img {
    width: 15px;
  }
  .about .create .input {
    align-items: center;
    margin-right: 0;
  }
  .about .create .input #in {
    width: 50%;
  }
  .about .create .input #re {
    position: relative;
    right: 4.7rem;
  }
  .about .create .input #em {
    position: relative;
    right: 1.7rem;
  }
  .about .create .input #fr {
    position: relative;
    right: 3.8rem;
  }
  .about .text #ipsum {
    font-size: 13px;
    text-align: center;
  }
  .about .text #Karem {
    font-size: 55px;
    align-items: center;
    position: relative;
    right: 3rem;
  }
  .about .border {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    left: 1rem;
  }
  .about .border .first {
    right: 3rem;
  }
  .about .border .first #fifty {
    padding: 1rem 1.2rem 1rem 1rem;
  }
  .about .border .first #seven {
    padding: 1rem 1.2rem 1rem 1rem;
  }
  .about .border .second {
    right: 3rem;
  }
  .about .border .second #thirty {
    padding: 1rem 1.2rem 1rem 1rem;
  }
  .about .border .second #six {
    padding: 1rem 1.2rem 1rem 1rem;
  }
}/*# sourceMappingURL=style.css.map */